<h1>Products</h1>

<% @products.each do |product| %>
  <div class="card" style="width: 18rem; margin-bottom: 20px;">
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text"><%= product.description %></p>
      <p class="card-text"><strong>Price:</strong> <%= number_to_currency(product.price) %></p>
      <%= button_to 'Add to Cart', add_to_cart_cart_path(product_id: product.id), method: :post, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
